  <div class="profile-image"> 
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
  
  <h2> <%= @user.name %></h2>

  <h5> Username: </h5>
  <h4> <%= @user.username %></h4>

  <h5> Latest Job Title: </h5>
  <h4> <%= @user.title %></h4>

  <h5> Company: </h5>
  <h4> <%= @user.company %></h4>

  <h5> Website: </h5>
  <h4> <%= @user.website %></h4>

  <h5> Location: </h5>
  <h4> <%= @user.location %></h4>

  <h5> Excited_about: </h5>
  <h4> <%= @user.excited_about %></h4>

  <h5> Experience: </h5>
  <h4> <%= @user.experience %></h4>

  <h5> Bio: </h5>
  <h4> <%= @user.bio %></h4>

  <h5> Expertise: </h5>
  <h4> <%= @user.expertise %></h4>

  <h5> Linkedin: </h5>
  <h4> <%= @user.linkedin %></h4>

  <h5> Twitter: </h5>
  <h4> <%= @user.twitter %></h4>

  <h5> Instagram: </h5>
  <h4> <%= @user.instagram %></h4>