<h2>Experience</h2>

<% @positions.each do |position| %>
  <div class="position well well-lg">
  <p><%= position.company_name %></p>
  <p><%= position.title %></p>
  <p><%= position.start_date.strftime("%b %y") %> to <%= position.end_date.strftime("%b %y") %></p>
  </div> 
<% end %>

<h2>Education</h2>

<% @educations.each do |education| %>
  <div class="education well well-lg">
  <p><%= education.school %></p>
  <p><%= education.degree %></p>
  <p><%= education.start_year %> to <%= education.end_year %></p>
  </div> 
<% end %>