<%= render 'users/creatives/shared/profile_header' %>
<%= render 'users/creatives/shared/profile_nav' %>

<div class="col-md-6 col-md-offset-3">
<h2> Edit Profile </h2>

<h5> Username: </h5>
<h3> <%= @user.username %></h3>

<%= simple_form_for @user, url: user_path(@user), method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h5> Profile Photo </h5>
    <% if current_user.avatar? %>
        <div class="profile-image"> 
            <%= image_tag @user.avatar.url(:medium) %>
        </div>
    <% else %>
        <%= f.input :avatar, as: :file, label: false %></h3>
    <% end %>

    <h5> Latest Job Title: </h5>
    <h3> <%= f.input :title, label: false %> </h3>

    <h5> Company: </h5>
    <h3> <%= f.input :company, label: false %></h3>

    <h5> Website: </h5>
      <div class="input-group">
        <div class="input-group-addon">http://</div>
        <h3> <%= f.input :website, label: false %></h3>
      </div>

    <h5> Location: </h5>
    <h3> <%= f.input :location, label: false %></h3>

    <h5> Excited_about: </h5>
    <h3> <%= f.input :excited_about, label: false %></h3>

    <h5> Experience: </h5>
    <h3> <%= f.input :experience, label: false %></h3>

    <h5> Bio: </h5>
    <h3> <%= f.input :bio, label: false %></h3>

    <h5> Expertise: </h5>
    <h3> <%= f.input :expertise, label: false %></h3>

    <h5> Linkedin: </h5>
    <h3> <%= f.input :linkedin, label: false %></h3>

    <h5> Twitter: </h5>
    <h3> <%= f.input :twitter, label: false %></h3>

    <h5> Instagram: </h5>
    <h3> <%= f.input :instagram, label: false %></h3>

    <h5> Professional Skills: </h5>
    <h3> <%= f.input :skill_list, label: false %></h3>

    <h5> Noteable Clients: </h5>
    <h3> <%= f.input :client_list, label: false %></h3>

    <h5> Industry Experience: </h5>
    <h3> <%= f.input :industry_list, label: false %></h3>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Profile", class: "btn" %>
  </div>
<% end %>

</div>