
<%= render 'profile_header' %>
<%= render 'profile_nav' %>

<div class="container-fluid profile-main">
  <div class="container">
    <div class="col-md-3 ">
      <%= render 'profile_left' %>
    </div>
    <div class="col-md-9">
      <div class="col-md-8">
        <%= render 'profile_main' %>
      </div>
      <div class="col-md-4">
        <%= render 'profile_right' %>
      </div>
    </div>
  </div>
</div>